<a href="https://colab.research.google.com/github/lcuenca1/Data201_Leyla/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2 - Data Wrangling with Pandas

#### Learning objectives
By completing this assignment, you should be able to:

Use pandas equivalents of dplyr verbs:  
- filter() → boolean indexing / .loc[]   
- mutate() → .assign()  
- group_by() → .groupby()  
- summarise() → .agg()   
- arrange() → .sort_values()  
Apply boolean logic correctly using & and |   
Use method chaining for readable, step-by-step transformations   
Create grouped summary tables with multiple statistic

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lcuenca1/Data201/refs/heads/main/Dataset/housing.csv")

### Part A: Core Wrangling

In [7]:
( df
    .loc[(df["price"] > 250000) & (df["size"] > 1000)]   # filter rows
    .assign(price_per_sqft = lambda x: x["price"] / x["size"])   # new column
    .groupby("neighborhood")   # group by neighborhood
    .agg(
        mean_price_per_sqft = ("price_per_sqft", "mean"),
        median_price_per_sqft = ("price_per_sqft", "median"),
        count_homes = ("price_per_sqft", "count")
    )
    .sort_values("mean_price_per_sqft", ascending=False)   # sort descending
)

              mean_price_per_sqft  median_price_per_sqft  count_homes
neighborhood
Downtown               977.820905            1001.557049           99
Midtown                921.141446             901.992377           92
Suburb                 861.917078             836.878644          157
Uptown                 860.935608             843.653468           99
Waterfront             849.508891             792.663291           48

### Part B: Translation to dplyr

* Code in R:  

library (dplyr)  
df |>  
  filter{price > 250000, size > 1000) |>  
  mutate:price_per_sqft = price/ size) |>  
  group_by(neighborhood} |>  
  summarize(mean_price_per_sqft = mean(price_per_sqft),  
    median_price_per_sqft = median(price_per_sqft),  
    count_homes = n() ) |>  
  arrange(desc(mean_price_per_sqft))

- Reflection:

For me, pandas and dplyr are similar in various ways. Both let you filter, transform, group, and summarize data, writting it on a very similar format. But is clear that the dplyr syntax is shorter and easier to read, or maybe is based on the amount of experienced in R. In pandas, you need to pay more attention on the parentheses and lambda fundtions, which can be confusing at first. Overall, The format of chaining operations is the same in both, which makes switching from R to Phyton a bit more comfortable.

### Part C: Boolean Logic Debbuging

- Code with an error:  

df[df["price"] > 250000 & df["size"] > 1000]

- Fixed code:

In [10]:
df[(df["price"] > 250000) & (df["size"] > 1000)]

     listing_id    price         size  bedrooms neighborhood          type
0        100001  1500000  1280.741760       1.0       Suburb     Townhouse
1        100002  1500000  1406.283113       2.0       Uptown  SingleFamily
2        100003  1500000  4146.825713       6.0       Suburb   MultiFamily
3        100004  1500000  3946.599818       6.0       Suburb  SingleFamily
4        100005  1500000  1243.751760       1.0     Downtown   MultiFamily
..          ...      ...          ...       ...          ...           ...
595      100596  1500000  1443.241197       3.0      Midtown         Condo
596      100597  1500000  1083.909714       2.0       Suburb         Condo
597      100598  1500000  1600.126432       1.0       Suburb  SingleFamily
598      100599  1500000  1248.216637       1.0   Waterfront         Condo
599      100600  1500000  1450.981922       NaN       Suburb  SingleFamily

[495 rows x 6 columns]

- Explanation:  
The original code given get an error because of "&", and how its been used. Each condition must be wrapped in parentheses so Python reads it correctly. Using quary() is a easier alternative, where the code is cleaner and easier to read with no need of so many parentheses.

In [12]:
df.query("price > 250000 & size > 1000")

     listing_id    price         size  bedrooms neighborhood          type
0        100001  1500000  1280.741760       1.0       Suburb     Townhouse
1        100002  1500000  1406.283113       2.0       Uptown  SingleFamily
2        100003  1500000  4146.825713       6.0       Suburb   MultiFamily
3        100004  1500000  3946.599818       6.0       Suburb  SingleFamily
4        100005  1500000  1243.751760       1.0     Downtown   MultiFamily
..          ...      ...          ...       ...          ...           ...
595      100596  1500000  1443.241197       3.0      Midtown         Condo
596      100597  1500000  1083.909714       2.0       Suburb         Condo
597      100598  1500000  1600.126432       1.0       Suburb  SingleFamily
598      100599  1500000  1248.216637       1.0   Waterfront         Condo
599      100600  1500000  1450.981922       NaN       Suburb  SingleFamily

[495 rows x 6 columns]

### Part D: Concept Questions



1.   Why must we wrap each condition in parentheses when using & in pandas?  
  In Python, wrapping each condition in parentheses makes sure it first check each comparison and then combines the results with &.

2.   What is the advantage of method chaining over creating many temporary DataFrames?  
  The advantage is that let us perform mutiple steps in one piece of code, without the need of creating extra variables. Also, it makes the code shorter and easier to read.  

3. In .agg(mean_price=("price", "mean")), what does "price" represent? What does "mean" represent?
  "price" is the column from df that we summarized.
  "mean" is the function to calculate the average value.  

4. When you groupby("neighborhood"), why does neighborhood appear on the left (index) in the result table?  
  Because pandas automatically makes the grouping column the index of the result, showing clrealy which row corresponds  to which neighborhood.

### Extra Summary Table

In [15]:
(df
    .loc[(df["price"] > 250000) & (df["size"] > 1000)]
        .groupby("type")
        .agg( mean_price = ("price", "mean"),
        median_price = ("price", "median"),
        count_listings = ("price", "count"))
        .sort_values("mean_price", ascending=False)
)

              mean_price  median_price  count_listings
type
Condo          1500000.0     1500000.0             138
MultiFamily    1500000.0     1500000.0              54
SingleFamily   1500000.0     1500000.0             204
Townhouse      1500000.0     1500000.0              99